/* src/Kambaz/Courses.css */

.courses-page {
  display: flex;
  background-color: black;
  color: white;
  min-height: 100vh;
  margin-left: 220px;
  padding: 2rem;
}

.courses-content {
  flex: 1;
  padding: 1rem;
}

.course-nav {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: white;
}

.course-nav-item {
  padding: 10px 15px;
  color: red;
  text-decoration: none;
  border-left: 4px solid transparent;
}

.course-nav-item.active {
  color: black;
  border-left: 4px solid black;
  background-color: #eee;
}
