/* src/Kambaz/Grades.css */

.grades-container {
    background-color: black;
    color: white;
    min-height: 100vh;
    padding: 2rem;
    margin-left: 220px;
  }
  
  .grades-title {
    color: red;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .grades-icon {
    margin-right: 0.5rem;
  }