/* src/Kambaz/Modules.css */

.modules-container {
    background-color: black;
    color: white;
    min-height: 100vh;
    padding: 2rem;
    margin-left: 220px;
  }
  
  .modules-title {
    color: red;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .modules-icon {
    margin-right: 0.5rem;
  }